services:

  db:
    image: postgres:15.15
    restart: always
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
    volumes: 
      - postgre-data:/var/lib/postgresql/data
    ports: 
        - "5432:5432"


volumes:
  postgre-data: 
    driver: local